.container{
    width: 80%;
    margin: 100px auto ;
}
.container:first-child::first-line{
    font-size: 170%;
    color: red;
    }
    .container:first-child::first-line a{
        color: blue;
    }
    table {
        width: 100%;
        border-collapse: collapse;
      }
    
      th, td {
        border: 1px solid #4d4949;
        padding: 8px;
        text-align: left;
      }
    
      th {
        background-color: #f2f2f2;
      }
    
      tr:nth-child(even) {
        background-color: #f2f2f2;
      }
    
      tr:hover {
        background-color: #ddd;
      }